addict==2.4.0
altgraph==0.17.2
argcomplete==2.0.0
attrs==21.4.0
Brotli==1.0.9
catkin-pkg==0.4.24
certifi==2020.6.20
cffi==1.15.0
chardet==3.0.4
click==8.0.3
colcon-argcomplete==0.3.3
colcon-bash==0.4.2
colcon-cd==0.1.1
colcon-cmake==0.2.26
colcon-common-extensions==0.2.1
colcon-core==0.7.1
colcon-defaults==0.2.6
colcon-devtools==0.2.3
colcon-library-path==0.2.1
colcon-metadata==0.2.5
colcon-notification==0.2.13
colcon-output==0.2.12
colcon-package-information==0.3.3
colcon-package-selection==0.2.10
colcon-parallel-executor==0.2.4
colcon-pkg-config==0.1.0
colcon-powershell==0.3.7
colcon-python-setup-py==0.2.7
colcon-recursive-crawl==0.2.1
colcon-ros==0.3.22
colcon-test-result==0.3.8
colcon-zsh==0.4.0
coverage==6.3.2
cryptography==36.0.2
cycler==0.11.0
dash==2.9.3
dash-bootstrap-components==0.13.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-renderer==1.5.1
dash-table==5.0.0
distlib==0.3.4
distro==1.7.0
docutils==0.18.1
empy==3.3.4
fastparquet==0.4.1
flake8==4.0.1
flake8-blind-except==0.2.1
flake8-builtins==1.5.3
flake8-class-newline==1.6.0
flake8-comprehensions==3.8.0
flake8-deprecated==1.3
flake8-docstrings==1.6.0
flake8-import-order==0.18.1
flake8-quotes==3.3.1
Flask==2.0.2
Flask-Compress==1.13
fonttools==4.31.2
future==0.18.3
gunicorn==20.0.4
idna==2.10
ifcfg==0.22
imageio==2.9.0
importlib-metadata==4.11.3
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.2
joblib==1.1.0
kiwisolver==1.4.1
lark-parser==0.12.0
llvmlite==0.39.1
lxml==4.8.0
macholib==1.15.2
MarkupSafe==2.0.1
matplotlib==3.2.2
mccabe==0.6.1
mock==4.0.3
mypy==0.761
mypy-extensions==0.4.3
netifaces==0.11.0
nose==1.3.7
numba==0.56.4
numpy==1.19.5
open3d==0.13.0
packaging==21.3
pandas==1.0.5
pep8==1.7.1
Pillow==8.3.2
plotly==5.14.1
pluggy==1.0.0
psutil==5.9.0
py==1.11.0
pycodestyle==2.8.0
pycparser==2.21
pydocstyle==6.1.1
pydot==1.4.2
pyflakes==2.4.0
pygifsicle==1.0.5
pygraphviz==1.8
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.3
pyparsing==2.4.7
pyquaternion==0.9.9
pytest==7.1.1
pytest-cov==3.0.0
pytest-mock==3.7.0
pytest-repeat==0.9.1
pytest-rerunfailures==10.2
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
requests==2.24.0
retrying==1.3.4
rosdep==0.21.0
rosdistro==0.8.3
rospkg==1.4.0
scikit-learn==1.0.2
scipy==1.8.0
six==1.16.0
snowballstemmer==2.2.0
tenacity==8.2.2
threadpoolctl==3.1.0
thrift==0.16.0
tomli==2.0.1
tqdm==4.64.0
typed-ast==1.4.3
typing_extensions==4.1.1
urllib3==1.25.11
vcstool==0.3.0
Werkzeug==2.0.2
zipp==3.7.0
certifi==2020.6.20
gunicorn==20.0.4
